<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FORUMKU</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:300,400,500,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i" rel="stylesheet">

    <link rel="stylesheet" href="Assets/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="Assets/css/animate.css">
    
    <link rel="stylesheet" href="Assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="Assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="Assets/css/magnific-popup.css">

    <link rel="stylesheet" href="Assets/css/aos.css">

    <link rel="stylesheet" href="Assets/css/ionicons.min.css">

    <link rel="stylesheet" href="Assets/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="Assets/css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="Assets/css/flaticon.css">
    <link rel="stylesheet" href="Assets/css/icomoon.css">
    <link rel="stylesheet" href="Assets/css/style.css">
  </head>
  <body>

	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="Posts.aspx">FORUMKU<span>FREE FORUM</span></a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">

	          <li class="nav-item"><a href="Posts.aspx" class="nav-link">Forum</a></li>
	          <li class="nav-item"><a href="Register.aspx" class="nav-link">Make Account</a></li>
              <li class="nav-item"><a href="Admin.aspx" class="nav-link">Setting</a></li>

	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->
    
    <div class="hero-wrap js-fullheight" style="background-image: url('Assets/images/bg_1.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-end" data-scrollax-parent="true">
          <div class="col-md-8 text-justify ftco-animate mb-5 pr-lg-4">
          	<h1 class="mb-0">IF U WANT DISCUSSION OR MORE</h1>
          	<h3 class="subheading mb-4 pb-1">Just Try it !!!</h3>
          </div>
        </div>
      </div>
    </div>

<section class="ftco-section">
 <div class ="container">
        <div class ="row">
            
            <div class ="col-md-9">
                <!--content-->
                <form id="form1" runat="server">
        <div>
            <asp:ContentPlaceHolder ID="TestContent" runat="server">

            </asp:ContentPlaceHolder>
        </div>
    </form>
            </div>
        </div>
    </div>
    </section>
  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


    <script src="Assets/js/jquery.min.js"></script>
    <script src="Assets/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="Assets/js/popper.min.js"></script>
    <script src="Assets/js/bootstrap.min.js"></script>
    <script src="Assets/js/jquery.easing.1.3.js"></script>
    <script src="Assets/js/jquery.waypoints.min.js"></script>
    <script src="Assets/js/jquery.stellar.min.js"></script>
    <script src="Assets/js/owl.carousel.min.js"></script>
    <script src="Assets/js/jquery.magnific-popup.min.js"></script>
    <script src="Assets/js/aos.js"></script>
    <script src="Assets/js/jquery.animateNumber.min.js"></script>
    <script src="Assets/js/bootstrap-datepicker.js"></script>
    <script src="Assets/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="Assets/js/google-map.js"></script>
    <script src="Assets/js/main.js"></script>
    
  </body>
</html>